<div class="form-froup row">
  <label class="col-sm-2 col-form-label">Consultant Name</label>
  <div class="col-sm-10">
    <input
      type="text"
      class="form-control"
      [(ngModel)]="ConsultantName"
      placeholder="Enter Consultant Name"
    />
  </div>
</div>

<button
  (click)="addConsultant()"
  *ngIf="cons.ConsultantId == 0"
  class="btn btn-primary"
>
  Add
</button>

<button
  (click)="updateConsultant()"
  *ngIf="cons.ConsultantId != 0"
  class="btn btn-primary"
>
  Update
</button>
